/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.page-wrap {
    width: 100vw;
}
/*HEADER*/
header {
    height: 105px;
    background: #ded9d6;
    display: flex;
    align-items: center;
}
header ul {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}
header li {
    width: 100px;
    padding: 10px 0;
    background: #787471;
    text-align: center;
    color: white;
    border-radius: 5px;
}
header li:first-of-type {
    margin-left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
header li:last-of-type {
    width: 300px;
    margin-right: 50px;
    border-radius: 5px;
    padding: 0;
}
header li:last-of-type input {
    width: 300px;
    margin-right: 50px;
    height: 50px;
    border-radius: 5px;
    border: 0;
}
header li:nth-of-type(7) {
    background: #454341;
}
/*FEATURED ARTICLES*/
.featured-articles-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 60% 40%;
    width: 100%;
    height: 200vh;
}
.featured-articles-wrap > div {
    position: relative;
    padding: 75px 125px 0 75px;
}
.featured-articles-wrap > div:nth-child(1) {
    background: #696969;
    color: white;
    padding-top: 250px;
    
}
.featured-articles-wrap > div:nth-child(2) {
    background: #787574;
    color: white;
    padding-top: 250px;
}
.featured-articles-wrap > div:nth-child(3) {
    background: #6b6868;
    color: white;
}
.featured-articles-wrap > div:nth-child(4) {
    background: #7d7a79;
    color: white;
}
.author-box {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.prof-pic {
    width: 70px;
    height: 70px;
    border-radius: 9px;
    background: #383737;
    border: 4px solid white;
    margin-right: 25px;
}
.article-author {
    font: 600 22px 'Asap Condensed', sans-serif;
}
.article-title {
    font: 700 45px 'Asap Condensed', sans-serif;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.leave-comment {
    font: 600 18px 'Asap Condensed', sans-serif;
    margin-bottom: 40px;
}
.hash-box {
    display: flex;
}
.hash-one, .hash-two, .hash-three {
    font: 18px 'Asap Condensed', sans-serif;
}
.hash-two {
    padding: 0 20px;
}
.big-arrow {
    font-size: 40px;
    position: absolute;
    bottom: 50px;
}
.featured-wrap {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.featured-wrap > div {
    position: absolute;
    margin-top: 5%;
    background: #f2f0ee;
    padding: 20px 50px;
    text-align: center;
    text-transform: capitalize;
    font: bold 30px/2 sans-serif;
    z-index: 100;
}
/*LATEST POSTS*/
.latest-posts-wrap {
    display: flex;
    padding: 0 50px;
    height: 490px;
}
.latest-posts-wrap > div {
    flex: 1;
    background: #fff;
    padding: 60px 10px 0 20px;

    display: flex;
    flex-wrap: wrap;
}
.latest-posts-wrap > div > * {
    flex: 1 1 100%;
}
.post-date {
    color: #a1a1a1;
    font: small-caps 100 12px Martel, serif;
}
.post-title {
    font: 500 30px/1.3 Quicksand, sans-serif;
    text-decoration: underline;
    width: 75%;
    letter-spacing: .8;
}
.post-author {
    font: 600 14px sans-serif;
    margin: 30px 0;
    color: #858483;
}
.post-author span {
    text-decoration: underline;
}
.post-preview {
    font: 200 18px/1.7 Martel, serif;
    color: #636261;
    margin-bottom: 30px;
    height: 180px;
}
.arrow {
    font-size: 24px;
    align-self: flex-end;
}
/*Sign up and Supporters section*/
.smashing-members {
    display: flex;
    margin-top: 25px;
    padding: 75px 75px 0 75px;
}
.supporters-wrap {
    flex: 1 1 375px;
    margin-right: 15px; 
    height: 500px;
}
.supporters-wrap > div {
    border-radius: 12px;
    height: 215px;
    background: #c4bfbe;
    flex: 1 1 100%;
    text-align: center;
}

.supporters-wrap > p {
    text-align: center;
    font: 14px 'Cormorant Garamond', serif;
}
.supporters-wrap > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.supporters-wrap > div > p:first-child {
    font: 700 30px/0.6 Quicksand, serif;
    text-transform: lowercase;
}
.supporters-wrap > div > p:last-child {
    font: 18px "Times New Roman", serif;
}
.supporters-wrap > div button {
    font: 600 20px Quicksand, serif;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
}
.members-wrap {
    flex: 1 1 875px;
    background: #706d6c;
    height: 600px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px 150px;
    color: white;
    text-align: center;
}
.members-wrap > div {
    width: 175px;
    height: 175px;
    border-radius: 100px;
    background: #ccc7c6
}
.members-wrap > p:first-of-type {
    font: 600 40px/0.6 Quicksand, sans-serif;
    letter-spacing: 0.6;
    text-decoration: underline;
}
.members-wrap > p:nth-of-type(2) {
    font: 100 16px Martel, serif;
}
.members-wrap > button {
    font: 600 20px Quicksand, serif;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
}
.members-wrap > p:last-of-type {
    font: 100 12px Martel, serif;
}
/* Second latest posts section */
.latest-posts-wrap {
    display: flex;
    padding: 0 50px;
    height: 490px;
}
.latest-posts-wrap > div {
    flex: 1;
    background: #fff;
    padding: 60px 10px 0 20px;

    display: flex;
    flex-wrap: wrap;
}
.latest-posts-wrap > div > * {
    flex: 1 1 100%;
}
.post-date {
    color: #a1a1a1;
    font: small-caps 100 12px Martel, serif;
}
.post-title {
    font: 500 30px/1.3 Quicksand, sans-serif;
    text-decoration: underline;
    width: 75%;
    letter-spacing: .8;
}
.post-author {
    font: 600 14px sans-serif;
    margin: 30px 0;
    color: #858483;
}
.post-author span {
    text-decoration: underline;
}
.post-preview {
    font: 200 18px/1.7 Martel, serif;
    color: #636261;
    margin-bottom: 30px;
    height: 180px;
}
.arrow {
    font-size: 24px;
    align-self: flex-end;
}
